.sapUiForm .sapMLabel,
.sapUiForm .sapMText {
	height: 2.5rem;
	line-height: 2.5rem;
}
.sapMTokenizer {
	width: auto !important;
}
.sapUiRrRow {
	border-bottom: 1px dashed gray;
}
.sapUiRespGridBreak {
	clear: none;
}
.select-list-page section {
	position: relative;
	top: 0 !important;
}