.borderless,
.borderless .sapMPanelContent {
	border-bottom: none;
}
.inactive-list-item {
	background-color: WhiteSmoke!important;
}
.inerror-list-item {
    border-bottom-width: 2px;
    border-color: red;
}
.inerror-list-item .sapMText.sapMObjLTitle {
    color: red;
}
